/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 90px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 66px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;

  h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 50px;
      height: 3px;
      background: var(--accent-color);
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  p {
    margin-bottom: 0;
  }
}

@import './sections/_hero-2.scss';
@import './sections/_about-2.scss';
@import './sections/_services.scss';
@import './sections/_portfolio.scss';
@import './sections/_why-us.scss';
@import './sections/_testimonials.scss';
@import './sections/_team.scss';
@import './sections/_contact.scss';
@import './sections/_portfolio-details.scss';
@import './sections/_service-details.scss';
@import './sections/_terms-of-service.scss';
@import './sections/_privacy.scss';
@import './sections/_error-404.scss';
@import './sections/_starter-section.scss';
@import './sections/_about-me.scss';
@import './sections/_clients.scss';
@import './sections/_cards.scss';
@import './sections/_gallery-2.scss';
@import './sections/_team-2.scss';
@import './sections/_team-3.scss';
@import './sections/_gallery.scss';
@import './sections/_post-list.scss';
@import './sections/_post-list-2.scss';
@import './sections/_post-details-2.scss';
@import './sections/_blog-author.scss';
@import './sections/_posts-section.scss';